{% extends app['twig_theme'] ~ '/' ~ 'layout.twig' %}
{% set active = 'activation-codes' %}
{% set title = 'License keys' | trans %}

{% block head %}
    
    {{ parent() }}

{% endblock %}

{% block content %}

{% endblock %}